<div class="alert alert-success">
	<div class="time" style="float:right;"><i class="fa fa-time bigger-110"></i>8 hours ago</div>
	<i class="fa fa-check-circle"></i>
	<strong>NEW FEATURE!</strong> You can add stars and stripes to your profile picture.
</div>
<div class="alert alert-warning">
	<div class="time" style="float:right;"><i class="fa fa-time bigger-110"></i>September 12, 2014</div>
	<i class="fa fa-exclamation-triangle"></i>
	<strong>GL Maintenance!</strong> We will be having server maintenance on December 25, 2014.
</div>
